<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <title>Tavo užduotys</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'todo/css/task_list.css' %}">
</head>
<body>
    <main>
        <h1>Sveikas, {{ request.user.username }}!</h1>

        <form method="post" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn">Atsijungti</button>
        </form>
        <h2>Tavo užduotys</h2>
        <a href="{% url 'create_task' %}" class="btn">Nauja užduotis</a>
            {% if tasks %}
                <ul>
                    {% for task in tasks %}
                        <li>
                            <strong>{{ task.title }}</strong><br>
                            {{ task.content }}<br>
                            <small>Sukurta: {{ task.created_at }}</small>
                            <a href="{% url 'edit_task' task.id %}" class="btn">Redaguoti</a>
                            <a href="{% url 'delete_task' task.id %}" class="btn">Ištrinti</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Tu dar neturi užduočių.</p>
            {% endif %}
    </main>
</body>
</html>
